<%= simple_form_for [@project, @repository] do |f| %>
  <div>
    <%= f.hint 'http://github.com/' %>
    <%= f.input :fullname, input_html: { autofocus: true } %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<ul>
  <% @repositories.each do |repository| %>
    <li><%= repository.fullname %></li>
  <% end %>
</ul>
