<div class="content-box">
  <header class="page-content-header">
    <h1 class="page-content-title">Add new repository</h1>
  </header>

  <%= simple_form_for [@project, @repository], class: 'new-repository' do |f| %>
      <%= f.input :fullname, input_html: { autofocus: true }, label: github_url %>

      <%= f.submit %>
  <% end %>

  <h4>Saved repositories:</h4>
  <ul>
    <% @repositories.each do |repository| %>
      <li>
        <%= link_to repository.fullname, repo_url(repository) %>
        <%= link_to '(Revoke)', project_repository_path(@project, repository), data: { method: :delete } %>
      </li>
    <% end %>
  </ul>
</div>
