<% content_for(:page_title) { 'New repository' } %>

<div class="content-box">
  <header class="page-content-header">
    <h1 class="page-content-title">Add new repository</h1>
  </header>

  <%= simple_form_for [@project, @repository], class: 'new-repository' do |f| %>
      <%= f.input :full_name,
        input_html: { autofocus: true },
        required: false,
        placeholder: 'owner/repo',
        label: github_url,
        label_wrapper: 'div'
      %>

      <%= f.submit %>
  <% end %>

  <h4>Suggested repositories</h4>
  <ul class="suggested-repos-list">
    <% @suggested_repos.each do |repository| %>
      <li class="suggested-repo"><%= repository.full_name %></li>
    <% end %>
  </ul>

  <h4>Saved repositories:</h4>
  <ul>
    <% @repositories.each do |repository| %>
      <li>
        <%= link_to repository.full_name, repo_url(repository) %>
        <%= link_to '(Revoke)', project_repository_path(@project, repository), data: { method: :delete } %>
      </li>
    <% end %>
  </ul>
</div>
