<div class="top-bg">
  <div id="content" class="container call-to-action">
    <h1 class="slogan">A better way to manage your projects pull requests</h1>

    <%= link_to 'Start using Dashub', user_omniauth_authorize_path(:github), class: 'start-using-btn' %>
  </div>
</div>

<div class="features section container">
  <h2>Don't miss a code review</h2>
  <div class="feature">
    <%= image_tag 'dashub-repositories.png', size: '221x177', alt: 'Repositories', title: 'Projects with multiples repositories' %>
    <p>Manage multiples repositories of a single project.</p>
  </div>
  <div class="feature">
    <%= image_tag 'dashub-shipit.png', size: '221x177', alt: 'Shipit', title: '' %>
    <p>Define your project's approval criteria to indentify blocked pull requests.</p>
  </div>
  <div class="feature">
    <%= image_tag 'dashub-pull-requests.png', size: '221x177', alt: 'Pull Requests', title: 'Pull Requests and Code Review' %>
    <p>Track pull requests and see what needs your code review.</p>
  </div>
</div>

<div class="white-bg">
  <div class="features section container">
    <h2>Why use Dashub?</h2>

    <p><a href="http://en.wikipedia.org/wiki/Code_review" class="code-review" target="_blank">Code Review</a> is an excelent way to share code, comunicate,
    learn and keep the quality of your code.</p>

    <h3>Your time is important</h3>
    <p>Constantly checking if a pull request needs your review takes time, and it gets worse when you don't remember you
      had already reviewed it.</p>

    <h3>Be aware of changes in project</h3>
    <p>Every project has code that is about to be shipped and it is not desired that this code gets lost.</p>

    <h3>Help your team mates</h3>
    <p>Be nice and help them!</p>
  </div>
</div>

<div class="features section understand-statuses">
  <h2>Project Pull Request Status View</h2>

  <p>All repository pull requests statuses are related to <strong>you</strong>,
  the same repository may have different results depending on the user logged in.</p>

  <%= image_tag 'dashub-statuses.png', size: '450x365', align: 'left', alt: 'Pull Request statuses', title: 'Pull Request statuses' %>

  <div class="understand-statuses-detail">
    <h3>Pending</h3>
    <p>These are your top priority because you didn't check it yet, so it is waiting your review.</p>

    <h3>Reviewed</h3>
    <p>You already reviewed this Pull Request, but you didn't considered as ready to ship, so you are
    still waiting for code update, so that you review it late.</p>

    <h3>Shippable</h3>
    <p>You didn't check out this Pull Request, but your collegues already review and approved it, and
    fullfilled the project approval criteria.</p>

    <h3>Approved</h3>
    <p>You already approved the Pull Request, so there is nothing to do.</p>
  </div>
</div>

<div class="white-bg">
  <div class="features section">
    <h2>How to use it?</h2>

    <p>It is pretty simple to use Dashub to track your projects.</p>

    <div class="getting-started-step">
      <h3><span class="step-number">1</span> Access with your Github account</h3>
      <p>We will not store any of your data, we just need read access to your Github account in order
      to start tracking your pull requests.</p>
      <%= image_tag 'dashub-step-1.png' %>
    </div>

    <div class="getting-started-step">
      <h3><span class="step-number">2</span> Create a project</h3>
      <p>Give your project a name, and decide what your team uses to approve a pull request, allow it to be merged.</p>
    </div>

    <div class="getting-started-step">
      <h3><span class="step-number">3</span> Add repositories</h3>
      <p>Add the repositories that are part of your project, or use the suggestion repositories that
      you have access to.</p>
    </div>

    <h3 class="completed-step">Done!</h3>
  </div>
</div>

  <div class="section call-to-action">
    <%= link_to 'Create your project now!', user_omniauth_authorize_path(:github), class: 'start-using-btn' %>
  </div>
