<% content_for(:page_title) { 'My projects' } %>

<ul class="projects-list">
  <% @projects.each do |project| %>
    <li class="project-box">
      <%= link_to 'Settings', '', class: 'project-box-settings-button' %>
      <ul class="project-box-settings-menu">
        <li><%= link_to 'Add new repository', new_project_repository_path(project), class: 'project-box-settings-menu-new-repository' %></li>
        <li><%= link_to 'Edit this project', edit_project_path(project), class: 'project-box-settings-menu-edit' %></li>
        <li><%= link_to 'Remove this project', project_path(project), method: :delete, class: 'project-box-settings-menu-delete' %></li>
      </ul>

      <h2 class="project-box-title">
        <%= link_to truncate(project.name, length: 50), project_path(project) %>
      </h2>
    </li>
  <% end %>
</ul>
