<h2>Project</h2>

<%= simple_form_for @project do |f| %>
  <%= f.input :name %>
  <div class='emoji-list' id='emoji-list'>
    <% @emojis.each do |emoji| %>
      <span data-emoji="<%= emoji.first %>">
        <%= image_tag(emoji.last, width: 20, alt: emoji.first, title: emoji.first) %>
      </span>
    <% end %>
  </div>
  <strong style="display: block;">Approval Rule</strong>

  <div style="margin: 10px;">
    <%= f.input :required_approvals, label: false, collection: 1..5, as: :select %>
    <%= f.input :approval_emoji, label: false, placeholder: 'Approval emoji' %>
  </div>

  <%= f.submit 'Create' %>
<% end %>
