<% content_for(:page_title) { 'New project' } %>

<% content_for :javascript do %>
  <script>
    new Emoji(
      $('.approval-emoji input'),
      $('.emoji-list a'),
      "<%= @project.approval_emoji %>",
      $('#all-emojis')
    );
  </script>
<% end %>

<div class="content-box">
  <header class="page-content-header">
    <h1 class="page-content-title">Add new project</h1>
  </header>

  <datalist id="all-emojis">
    <% @all_emojis.each do |emoji| %>
      <%= tag :option, value: emoji.first, data: { url: emoji.last } %>
    <% end %>
  </datalist>

  <%= simple_form_for @project, class: 'new-project' do |f| %>
    <%= f.input :name, label: 'Project name',
      placeholder: 'Project name', input_html:{ autofocus: true, maxlength: 50 } %>

    <div class="approval-emoji">
      <%= f.input :approval_emoji,
        label: 'Approval emoji',
        input_html: { list: 'all-emojis' },
        placeholder: 'shipit'
      %>

      <div class='emoji-list' id='emoji-list'>
        <h4>Suggestions. Click to select:</h4>
        <% @suggested_emojis.each do |emoji| %>
          <%= link_to '#', class: 'emoji', data: { emoji: emoji.name } do %>
            <%= emoji_tag(emoji.name, emoji.url, width: 30) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= f.input :required_approvals, label: 'Approval rule', collection: 1..5, as: :select %>

    <%= f.submit %>
  <% end %>
</div>
