<div class='new-project'>
  <datalist id='all-emojis'>
    <% @all_emojis.each do |emoji| %>
      <%= tag :option, value: emoji.first, data: { url: emoji.last } %>
    <% end %>
  </datalist>

  <%= simple_form_for @project do |f| %>
    <h3>Project name</h3>
    <%= f.input :name, label: false, placeholder: 'Example: Ruby projects' %>

    <h3>Approval emoji</h3>
    <%= f.input :approval_emoji, label: false, placeholder: 'Approval emoji', input_html: { list: 'all-emojis' } %>

    <h3>Popular choices</h3>
    <div class='emoji-list' id='emoji-list'>
      <% @suggested_emojis.each do |emoji| %>
        <%= content_tag :span, class: 'emoji', data: { emoji: emoji.name } do %>
          <%= emoji_tag(emoji.name, emoji.url, width: 50) %>
        <% end %>
      <% end %>
    </div>

    <div class='approval-rules'>
      <h3>Approval Rule</h3>
      <%= f.input :required_approvals, label: false, collection: 1..5, as: :select %>
      <%= emoji_tag(@default_emoji.name, @default_emoji.url, id: 'chosen-emoji', class: 'chosen-emoji') %>
    </div>

    <%= f.submit 'Create' %>
  <% end %>
</div>
