<div class="content-box">
  <header class="page-content-header">
    <h1 class="page-content-title"><%= @project.name %></h1>
    <h3 class="page-content-subtitle"><%= pluralize(@repositories.size, 'repository') %> associated</h3>
  </header>

  <%#= simple_form_for [@project, @repository] do |f| %>
    <%#= f.input :name %>
    <%#= f.input :description %>
    <%#= f.input :url %>

    <%#= f.submit 'Add' %>
  <%# end %>

  <ul class="project-repositories">
    <% @repositories.each do |repository| %>
      <li class="project-repositories-item <%= cycle('odd', '') %>">
        <h2 class="project-repositories-item-title"><%= repository.name %></h2>

        <%= link_to repository.url, repository.url, target: '_blank', class: 'project-repositories-item-link' %>

        <p class="project-repositories-item-description"><%= repository.description %></p>

        <ul class="pull-requests">
          <h3 class="pull-requests-count">
            Open Pull Requests (Total: <%= pull_request_count(repository) %>, Approved: <%= approved_pull_request_count(repository) %>)
          </h3>
          <% repository.open_pull_requests.each do |pull_request| %>
            <li class='pull-request-item-title'>
              <%= link_to pull_request.title, pull_request.url %> (Open <%= distance_of_time_in_words(pull_request.open_date, Time.current) %> ago)
              <% if pull_request.approved? %>
                (approved)
              <% else %>
                (pending, missing <%= pull_request.missing_approvals %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
