<% content_for(:page_title) { @project.name } %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('[data-load]').each(function() {
      var url = $(this).data('load');
      $(this).load(url);
    });
  <% end %>
<% end %>

<div class="content-box">
  <%= link_to 'Settings', '', class: 'project-box-settings-button' %>
  <ul class="project-box-settings-menu">
    <li><%= link_to 'Add new repository', new_project_repository_path(@project), class: 'project-box-settings-menu-new-repository' %></li>
    <li><%= link_to 'Edit this project', edit_project_path(@project), class: 'project-box-settings-menu-edit' %></li>
    <li><%= link_to 'Remove this project', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'project-box-settings-menu-delete' %></li>
  </ul>

  <header class="page-content-header">
    <h1 class="page-content-title"><%= @project.name %></h1>
    <div class="page-content-header-info">
      <p><%= pluralize(@repositories.size, 'repository') %> associated</p>
      <p>
        Pull Request approval criteria: <%= @project.required_approvals %> &times;
        <%= emoji_tag @project.approval_emoji, Emoji.new(@project.approval_emoji).url, width: 12 %>
      </p>
    </div>
  </header>

    <% if @repositories.present? %>
      <ul class="project-repositories">
        <% @repositories.each do |repository| %>
          <li class="project-repository-item" data-load='<%= async_project_repository_path(@project, repository) %>'>
            <h4 class="project-repositories-item-org">
              <%= link_to repository.owner, organization_url(repository), target: '_blank' %> /
            </h4>
            <h2 class="project-repositories-item-title">
              <%= link_to repository.name, repo_url(repository) , target: '_blank' %>
            </h2>

            <h3 class="pull-requests-count reviewed-pull-requests">
              0 <span>reviewed</span>
            </h3>

            <h3 class="pull-requests-count pending-pull-requests">
              0 <span>pending</span>
            </h3>

            <div class="loader">
              <%= image_tag 'kraken-loader.png', class: 'kraken-loader' %>
              <p>Loading...</p>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="no-repositories-associated">No repositories associated.</p>
    <% end %>
</div>
