<div class="content-box">
  <header class="page-content-header">
    <h1 class="page-content-title"><%= @project.name %></h1>
    <h3 class="page-content-subtitle"><%= pluralize(@repositories.size, 'repository') %> associated</h3>
  </header>

  <%#= simple_form_for [@project, @repository] do |f| %>
    <%#= f.input :name %>
    <%#= f.input :description %>
    <%#= f.input :url %>

    <%#= f.submit 'Add' %>
  <%# end %>

  <ul class="project-repositories">
    <% (@repositories*4).each do |repository| %>
      <li class="project-repositories-item">
        <h2 class="project-repositories-item-title">
          <%= link_to repository.name, repository.url, target: '_blank' %>
        </h2>

        <h3 class="pull-requests-box-count approved-pull-requests">
          <%= approved_pull_request_count(repository) %> <span>approved</span>
        </h3>

        <h3 class="pull-requests-box-count pending-pull-requests">
          2 <span>pending</span>
        </h3>

        <ul class="pull-requests">
          <% repository.open_pull_requests.each do |pull_request| %>
            <li class='pull-request-item-title'>
            <% if pull_request.approved? %>
              <%= image_tag 'pr-accepted.png' %>
            <% else %>
              <%= image_tag 'pr-pending.png' %>
            <% end %>
              <%= link_to pull_request.title, pull_request.url, target: '_blank' %>
              <time datetime="pull_request.open_date" class="pull-request-open-date">
                <%= distance_of_time_in_words(pull_request.open_date, Time.current) %> ago
              </time>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
