<div class="content-box">
  <header class="page-content-header">
    <h1 class="page-content-title"><%= @project.name %></h1>
    <h3 class="page-content-subtitle"><%= pluralize(@repositories.size, 'repository') %> associated</h3>
  </header>

  <ul class="project-repositories">
    <% @repositories.each do |repository| %>
      <li class="project-repository-item" data-load='<%= async_project_repository_path(@project, repository) %>'>
        <h2 class="project-repositories-item-title">
          <%= link_to repository.full_name, repo_url(repository) , target: '_blank' %>
        </h2>

        <h3 class="pull-requests-box-count approved-pull-requests">
          0 <span>approved</span>
        </h3>

        <h3 class="pull-requests-box-count pending-pull-requests">
          0 <span>pending</span>
        </h3>

        <div class="loader">
          <%= image_tag 'ajax-loader.gif' %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
