<div class="content-box">
  <header class="page-content-header">
    <h1 class="page-content-title"><%= @project.name %></h1>
    <h3 class="page-content-subtitle"><%= pluralize(@repositories.size, 'repository') %> associated</h3>
  </header>

  <ul class="project-repositories">
    <% @project_review.ranked_repositories.each do |repository_review| %>
      <li class="project-repository-item">
        <h2 class="project-repositories-item-title">
          <%= link_to repository_review.repository.fullname, "http://github.com/#{repository_review.repository.fullname}", target: '_blank' %>
        </h2>

        <h3 class="pull-requests-box-count approved-pull-requests">
          <%= approved_pull_request_count(repository_review.repository) %> <span>approved</span>
        </h3>

        <h3 class="pull-requests-box-count pending-pull-requests">
          2 <span>pending</span>
        </h3>

        <ul class="pull-requests">
          <% repository_review.priorited_pull_requests.each do |pull_review| %>
            <li class='pull-request-item'>
              <%= link_to  pull_review.pull_request.url, target: '_blank', class: 'pull-request-item-title' do %>
                <bold><%= "##{pull_review.pull_request.number}" %></bold> <%= pull_review.pull_request.title %>

                <% if pull_review.approved? %>
                  <%= image_tag 'pr-accepted.png' %>
                <% else %>
                  <%= image_tag 'pr-pending.png' %>
                <% end %>
              <% end %>

              <time datetime="pull_review.open_date" class="pull-request-open-date">
                <%= distance_of_time_in_words(pull_review.pull_request.open_date, Time.current) %> ago
              </time>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
