<% content_for(:page_title) { @project.name } %>

<div class="content-box">
  <header class="page-content-header">
    <h1 class="page-content-title"><%= @project.name %></h1>
    <h3 class="page-content-subtitle"><%= pluralize(@repositories.size, 'repository') %> associated</h3>
  </header>

  <div class="project-details">
    <div class="project-approval-criteria">
      <strong>Pull Request approval criteria:</strong> <%= @project.required_approvals %> &times;
      <%= emoji_tag @project.approval_emoji, Emoji.new(@project.approval_emoji).url %>
    </div>

    <ul class="review-status-legend">
      <li class="pending-legend">Pending</li>
      <li class="reviewed-legend">Reviewed</li>
      <li class="shipable-legend">Shipable</li>
      <li class="approved-legend">Approved</li>
    </ul>
  </div>

  <ul class="project-repositories">
    <% @repositories.each do |repository| %>
      <li class="project-repository-item" data-load='<%= async_project_repository_path(@project, repository) %>'>
        <h4 class="project-repositories-item-org">
          <%= link_to repository.owner, organization_url(repository), target: '_blank' %> /
        </h4>
        <h2 class="project-repositories-item-title">
          <%= link_to repository.name, repo_url(repository) , target: '_blank' %>
        </h2>

        <h3 class="pull-requests-box-count reviewed-pull-requests">
          0 <span>reviewed</span>
        </h3>

        <h3 class="pull-requests-box-count pending-pull-requests">
          0 <span>pending</span>
        </h3>

        <div class="loader">
          <%= image_tag 'ajax-loader.gif' %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
