<h1><%= @project.name %></h1>

<div style="margin-bottom: 20px;">
  <h3 style="display: inline;">Repositories</h3> (<%= @repositories.size %> total)
</div>

<% @repositories.each do |repository| %>
  <div style="margin-bottom: 10px; border: 1px solid #ccc;">
    <strong><%= repository.name %></strong>

    <% if repository.description %>
      <br />
      <%= repository.description %>
    <% end %>

    <br />

    <%= link_to repository.url, repository.url, target: '_blank' %>

    <div>
      <h2>Open Pull Requests (<%= pull_request_count(repository) %>)</h2>
      <% repository.open_pull_requests.each do |pull_request| %>
        <div class='pull-request'>
          <%= link_to pull_request.title, pull_request.url %> (Open <%= pluralize(pull_request.open_days, 'day') %> ago)
          <% if pull_request.approved? %>
            (approved)
          <% else %>
            (pending, missing <%= pull_request.missing_approvals %>)
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<h3>Add a new repository to this project</h3>
<%= simple_form_for [@project, @repository] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :url %>

  <%= f.submit 'Add repository' %>
<% end %>
