<!DOCTYPE html>
<html>
  <head>
    <title>Dashub</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <header class="main-header">
      <div class="container">
        <h1 class="logo">Dashub</h1>

        <nav class="header-navigation">
          <ul>
            <li><%= link_to 'My projects', projects_path %></li>
            <li><%= link_to 'New project', new_project_path %></li>
          </ul>
          <ul style="float:right">
            <li><%= link_to 'Login', user_omniauth_authorize_path(:github) %></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
